@using secimyolu.Models
@model vwVoter
@{
    ViewBag.Title = "GÖREVLİ BİLGİLERİ";
    Layout = null;
    if (Model.Id == 0)
    {
        var user = Current.Context.User.FirstOrDefault(f => f.TCNo == Model.ForeignNumber);
        if (user!= null)
        {
            Model.Name = user.Name;
            Model.SurName = user.Surname;
            Model.Email = user.Email;
            Model.Phone = user.GSM;
        }
    }
}

<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
<style>
    .LV_invalid {
        color: red;
    }
</style>
<input type="hidden" name="memberId" value="@Model.Id"/>
    <div style="text-align:center;" class="alert alert-info">
        Seçmen bilgileri doğru ise <b>Kaydet</b> butonu ile ilgili sandığa görevli atayabilirsiniz.
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="paper-input">
                <label>Ad</label>
                <input type="text" class="text-input floating-label" id="name" value="@Model.Name" @(Model.Name != null ? "readonly": "")>
            </div>
        </div>
        <div class="col-md-6">
            <div class="paper-input">
                <label>Soyad</label>
                <input type="text" class="text-input floating-label" id="surname" value="@Model.SurName" @(Model.SurName != null ? "readonly": "")>
            </div>
        </div>
        <div class="col-md-6">
            <div class="paper-input">
                <label>TC Kimlik No</label>
                <input type="text" class="text-input floating-label" id="tckNo" value="@(Model.ForeignNumber)" @(Model.ForeignNumber != null ? "readonly": "")>
            </div>
        </div>
        <div class="col-md-6">
            <div class="paper-input">
                <label>Cep Telefonu</label>
                <input type="text" class="text-input floating-label" id="mobilePhone" value="@(Model.Phone)" >
            </div>
        </div>
        <div class="col-md-6">
            <div class="paper-input">
                <label>E-posta</label>
                <input type="text" class="text-input floating-label" id="email" value="@(Model.Email)">
            </div>
        </div>
        <div class="col-md-6">
            <div class="paper-input">
                <label>Şifre</label>
                <input type="text" class="text-input floating-label" id="password" name="Password" value="">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<script type="text/javascript">
    function SaveAssociateMember(boxid, memberType) {
        var curUser = new Object();
        curUser.TCNo = $('#tckNo').val();
        curUser.Name = $('#name').val();
        curUser.Surname = $('#surname').val();
        curUser.Email = $('#email').val();
        curUser.Gsm = $('#mobilePhone').val();
        curUser.BoxId = boxid;
        curUser.MemberType = memberType;
        curUser.VoterId = '@Model.Id';

        var ActionUrl = '@Url.Action("SaveAssociateMember", "Management", new {area = ""})';
        $.ajax({
            url: ActionUrl,
            type: 'GET',
            data: curUser,
            async: false,
            success: function(data) {
                if (data != '') {
                    UpdatePollingBoxInfo(boxid);
                    //if (memberType == 0) {
                    //    $('#inpMemberInfo' + boxid).val(data);
                    //}
                    //else {
                    //    $('#inpMemberSecInfo' + boxid).val(data);
                    //}
                    SuccessText('Sandık görevlisi başarıyla eklenmiştir.');
                }
                else {
                    ErrorText('Sandık görevlisi eklenirken hata oluştu!');
                    if (memberType == 0) {
                        $('#inpMember' + boxid).val('');
                    }
                    else {
                        $('#inpMemberSec' + boxid).val('');
                    }
                    
                }
            }
        });
    }

   
</script>
<script type="text/javascript">
    var name1 = new LiveValidation('name', { onlyOnSubmit: 'true', onValid: function () { } });
    name1.add(Validate.Presence, { failureMessage: 'Ad giriniz!' });

    var surname = new LiveValidation('surname', { onlyOnSubmit: 'true', onValid: function () { } });
    surname.add(Validate.Presence, { failureMessage: 'Soyad giriniz!' });

    var tckNo = new LiveValidation('tckNo', { onlyOnSubmit: 'true', onValid: function () { } });
    tckNo.add(Validate.Presence, { failureMessage: 'Kimlik numarası giriniz!' });

    var email = new LiveValidation('email', { onlyOnSubmit: 'true', onValid: function () { } });
    email.add(Validate.Presence, { failureMessage: 'Mail adresi giriniz!' });

    var password = new LiveValidation('password', { onlyOnSubmit: 'true', onValid: function () { } });
    password.add(Validate.Presence, { failureMessage: 'Şifre giriniz!' });

</script>